[Unit]
Description=Script that runs periodically and scans for changes in the /etc/wpa_supplicant/wpa_supplicant.conf

[Service]
User=root
WorkingDirectory=/home/pi/klipper_config/system_config_config/wifi
ExecStart=/usr/bin/bash /home/pi/klipper_config/system_config_config/wifi/autoconnect_wifi.sh

[Install]
WantedBy=multi-user.target