[Unit]
Description=Watchman service that ensures that lightdm starts properly due to "Error connecting to XServer" 
# See https://github.com/guysoft/FullPageOS/issues/388 for details
After=lightdm.service

[Service]
User=root
WorkingDirectory=/home/pi/klipper_config/src/system_config/display
ExecStart=/bin/sh -c '/usr/bin/bash /home/pi/klipper_config/src/system_config/display/lightdm_watchman.sh > /home/pi/klipper_logs/lightdm_watchman.log 2>&1'

[Install]
WantedBy=multi-user.target