#EXTRUDER 0
[extruder]
step_pin: ESTEP
microsteps: 1
rotation_distance: 0.9895970297
nozzle_diameter: 1.75
filament_diameter: 2.85
max_extrude_cross_section: 7
max_extrude_only_distance: 2500
pressure_advance: 0.00

#EXTRUDER 1
[extruder1]
step_pin: ESTEP
microsteps: 16
rotation_distance: 3.846
nozzle_diameter: 0.400
filament_diameter: 2.85
max_extrude_cross_section: 1
max_extrude_only_distance: 200
pressure_advance: 0.095


