[Unit]
Description=Script that runs periodically and scans for changes in the /etc/wpa_supplicant/wpa_supplicant.conf

[Service]
User=root
WorkingDirectory=/home/pi/printer_data/config/src/system_config/wifi
ExecStart=/bin/sh -c '/usr/bin/bash /home/pi/printer_data/config/src/system_config/wifi/autoconnect_wifi.sh > /home/pi/klipper_logs/scan_wifi.log 2>&1'

[Install]
WantedBy=multi-user.target