#EXTRUDER 0 HEATER 
[extruder]
heater_pin: EHEAT
sensor_pin: ETHERM

control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 160


#EXTRUDER 1 HEATER
[extruder1]
heater_pin: E1HEAT
sensor_pin: E1THERM

control: pid
pid_Kp: 24.856
pid_Ki: 1.493
pid_Kd: 103.462
min_temp: 0
max_temp: 360
min_extrude_temp: 160

#HEATED BED
[heater_bed]
heater_pin: BEDHEAT
sensor_pin: BEDTHERM

control: watermark
min_temp: 0
max_temp: 150

#PRINT COOLING FAN
[fan]
pin: PRINTFAN

#HEATER FAN
[heater_fan e0e1_heater_block_fan]
pin: HEATERFAN
heater: extruder,extruder1
heater_temp: 50.0
fan_speed: 1.0

#THERMAL RUNAWAY 
[verify_heater extruder]
max_error: 2000
check_gain_time: 20
hysteresis: 5
heating_gain: 0.5

[verify_heater extruder1]
max_error: 2000
check_gain_time: 20
hysteresis: 5
heating_gain: 0.5

[verify_heater heater_bed]
max_error: 2000
check_gain_time: 80
hysteresis: 5
heating_gain: 0.5

[idle_timeout]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=0
    M104 S0 T0
    M104 S0 T1
timeout: 3600
