[beacon]
x_offset: 27.75
y_offset: -28
mesh_main_direction: x
mesh_runs: 1
trigger_distance: 2.
contact_max_hotend_temperature: 250 #increase to probe at print temps
home_xy_position: 40, 570
home_z_hop: 3
home_z_hop_speed: 30
home_xy_move_speed: 50
home_method: proximity
home_method_when_homed: proximity
home_autocalibrate: unhomed 
autocal_sample_count: 2
autocal_tolerance: 0.05

[bed_mesh]
speed: 600
mesh_min: 30.75, 35
mesh_max: 570, 540
probe_count: 10, 10
algorithm: bicubic

[z_tilt]
z_positions:
  0, 312
  590, 312
points:
  50, 312
  540, 312
speed: 100
horizontal_move_z: 5
retries: 3
retry_tolerance: 0.05

[gcode_button z_min]
pin: ^!ZSTOP
press_gcode:
    {action_emergency_stop("ZMIN HIT")}

[gcode_macro STARTUP_PROCEDURE]
description: Calibrations neccessary for repeatable print results. Must provide HOTEND_TEMP and BED_TEMP parameters. typical usage: STARTUP_PROCEDURE HOTEND_TEMP=230 BED_TEMP=65
gcode:
#----- PARAMETERS/VARIABLES -----

  {% set hotend_temp = params.HOTEND_TEMP|default(0)|float %}                   # *REQUIRED* HOTEND_TEMP=<value> - hotend temperature for printing/purging.
  {% set bed_temp = params.BED_TEMP|default(0)|float %}                         # *REQUIRED* BED_TEMP=<value> - bed temperature for printing/probing.
  {% set probing_temperature = params.PROBE_TEMP|default(110)|float %}          # PROBE_TEMP=<value> (default=110) - hotend temperature for probing the bed.
  {% set purge_amount = params.PURGE_AMOUNT|default(30)|float %}                # PURGE_AMOUNT=<value> (default=30) - extruder purge amount in mm during nozzle cleaning.
  {% set ram_count = params.RAM_COUNT|default(2)|int %}                         # RAM_COUNT=<value> (default=2) - amount of times the extruder retracts and extrudes during nozzle cleaning.
  {% set toolhead_shake = params.TOOLHEAD_SHAKE|default(10)|int %}              # TOOLHEAD_SHAKE=<value> (default=10) - amount of times the toolhead goes back and forth to loosen filament during nozzle cleaning. 
  {% set wipe_count = params.WIPE_COUNT|default(3)|int %}                       # WIPE_COUNT=<value> (default=3) - amount of wiping moves preformed on the print surface during nozzle cleaning.
  {% set z_global_offset = params.Z_GLOBAL_OFFSET|default(0.175)|float %}       # Z_GLOBAL_OFFSET=<value> (default=0.175) - pre-determined Z babystep amount from thermal expansion.
  
#----- CLEAR MESH/OFFSET -----

  BED_MESH_CLEAR                                                                # clear any loaded mesh 
  SET_GCODE_OFFSET Z=0                                                          # reset global z offset to 0
  {% if bed_temp == 0 %}                                                        # checking that BED_TEMP parameter was provided, raises an error if not
    {action_respond_info('Error: Must provide bed temperature parameter')}
    {action_raise_error('Error: Must provide bed temperature parameter')}
  {% else %}
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp}                  # start heating bed
  {% endif %}
  G92 E0                                                                        # reset extruder position
  M117 Homing...
  G28                                                                           # homing
  
#----- NOZZLE CLEANING PROCEDURE -----

  M117 Nozzle Cleaning...
  G0 Z20                                                                        # lift Z axis
  G1 X590 Y610 F6000                                                            # go to purge position
  {% if hotend_temp == 0 %}                                                     # checking that HOTEND_TEMP parameter was provided, raises an error if not
    {action_respond_info('Error: Must provide hotend temperature parameter')}
    {action_raise_error('Error: Must provide hotend temperature parameter')}    
  {% else %}
    SET_HEATER_TEMPERATURE{hotend_temp}                                         # heat hotend to purging temperature
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotend_temp - 1}
  {% endif %}
  
#----- PURGING -----

  SET_FAN_SPEED FAN=fan SPEED=1                                                 # turn print fan on to blow the filament off the bed
  M83                                                                           # relative extrusion
  G1 E{purge_amount} F100                                                       # purge the provided length (default 30mm)
  
#----- SHAKE TOOLHEAD -----

  {% for i in range(toolhead_shake) %}                                          # shakes the toolhead back and forth to try detaching the purged filament from the nozzle
    G1 X585 F25000
    G1 X590 F25000
  {% endfor %}
  
#----- RAMMING FILAMENT -----

  {% for i in range(ram_count) %}                                               # rams the filament to detach purged filament and keep a clean filament tip
    G1 E-11 F1000
    G1 E11 F1000
  {% endfor %}
  G1 E-11 F1000                                                                 # end ram move to keep the filament retracted
  
#----- WIPE NOZZLE ON PRINT SURFACE -----

  G0 X570                                                                       # move left slightly to start wiping procedure, keeps remaining purge from sticking if it hasnt been detached yet. 
  G0 Z0
  {% for i in range(wipe_count) %}                                              # wipe in square moves going left on the print surface.
    G91
    G0 X-5
    G90
    G0 Y606
    G91
    G0 X-5
    G90
    G0 Y610 
  {% endfor %}                                                                  # at this point, tip of nozzle should be clean and purged filament off the bed. 
  
#----- MODEL CALIBRATION -----

  G0 Z2
  M117 Cooling Down for Contact...
  M104 S{probing_temperature}                                                   # cooldown for probing temperature, keeping fan on to help cool faster
  G1 X40 Y570 F6000                                                             # go to probing position
  M109 S{probing_temperature}
  SET_FAN_SPEED FAN=fan SPEED=0                                                 # once probing temperature has been reached, turn off fans
  M117 Probe Model Calibration...
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp - 2}
  G28 Z METHOD=CONTACT CALIBRATE=1                                              # calibrate probe model 
  
#----- BED TRAMMING -----

  M117 Bed Tramming Calibration...
  Z_TILT_ADJUST                                                                 # probe positions at the z lead screws and automatically tram the bed 
  M117 Adaptive Mesh Calibration...
  BED_MESH_CALIBRATE PROBE_METHOD=contact ADAPTIVE=1                            # only probe points on the bed where the part will be printed
  
#----- Z OFFSET CALIBRATION -----

  M117 Z Offset Calibration...
  G28 Z METHOD=CONTACT CALIBRATE=0                                              # calibrate z offset
  M117 Heating to Print Temperature...
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET={hotend_temp}                   # heat to print temp
  TEMPERATURE_WAIT SENSOR=extruder MINIMUM={hotend_temp - 1}
  TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp - 2}
  SET_GCODE_OFFSET Z={z_global_offset}                                          # set thermal expansion global z offset
  M117