[Unit]
Description=Script that calls ~/klipper_config/src/reload.py to reset mainsail UI interface

[Service]
User=pi
WorkingDirectory=/home/pi/printer_data/config/src
ExecStart=/bin/sh -c '/usr/bin/python3 /home/pi/klipper_config/src/reload.py > /home/pi/klipper_logs/klipper_config.log 2>&1'

[Install]
WantedBy=multi-user.target