@font-face {
    font-family: Lato;
    src:url("Lato-Regular.ttf");
}

.v-application {
  font-family: 'Lato', sans-serif;
}

.subheading {
    font-size: 1rem
}

/* @import url("hide_buttons.css"); */
/* @import url("change_icons.css"); */