[Unit]
Description=Script that calls ~/klipper_config/scripts/reload.py to reset mainsail UI interface

[Service]
User=pi
WorkingDirectory=/home/pi/klipper_config/scripts
ExecStart=/usr/bin/python3 /home/pi/klipper_config/reload.py

[Install]
WantedBy=multi-user.target