[server]
host: 0.0.0.0
port: 7125
enable_debug_logging: true
config_path: ~/klipper_config
temperature_store_size: 600
gcode_store_size: 1000
log_path: ~/klipper_logs

[authorization]
force_logins: true

cors_domains:
  *.local
  *.lan

trusted_clients:
  10.0.0.0/8
  127.0.0.0/8
  169.254.0.0/16
  172.16.0.0/12
  192.168.0.0/16
  FE80::/10
  ::1/128

[history]

[octoprint_compat]

[update_manager]
enable_repo_debug: True
enable_auto_refresh: True
enable_system_updates: True
channel: dev

[update_manager client mainsail]
type: web_beta
repo: mainsail-crew/mainsail
path: ~/mainsail

[update_manager virtual_keyboard]
type: git_repo
path: ~/virtual_keyboard
origin: https://github.com/plloppii/virtual_keyboard.git
primary_branch: main
is_system_service: False

[update_manager klipper_config]
type: git_repo
path: ~/klipper_config
origin: https://github.com/plloppii/klipper_config.git
primary_branch: fff
is_system_service: True
