/* @import url("change_icons.css"); */
@import url("update_manager.css");
@import url("hide_buttons.css");

/* Top Toolbar color */

.theme--dark.v-app-bar.v-toolbar.v-sheet {
	background-color: #000;
}

/* Page Background */

.theme--dark.v-application {
    background: #111112;
}

/* Container box Corner radius */

.v-sheet.v-card {
	border-radius: 10px;
}

/* Container box background color */

.v-application .panel {
	background-color: #303133 !important;
	border: none!important;
}

/* Container box header background color */

.theme--dark.v-toolbar.v-sheet {
	background-color: #1C1C1E;
}

/* Container box shadow and highlight */

.v-sheet.v-card:not(.v-sheet--outlined) {
	box-shadow: 3px 3px 0px 0px #000,-0.5px -0.5px 0px 0px#393b3e;
}

/* Container box divider */

.theme--dark.v-divider {
	border: none;
}

/* Button border radius */

.v-btn {
	border-radius: 8px;
}

/* Primary button text color */

.v-btn:not(.v-btn--outlined).primary {
	color: #000;
}

/* Primary button box shadow */

.v-application .primary {
	box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 30%), -0.5px -0.5px 0px 0px #feeb33;
}

/* Secondary button background color */

.theme--dark.v-btn.v-btn--has-bg {
	background-color: #262628;
}

/* Secondary button box shadow */

.v-application .secondary {
	box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 30%), -0.5px -0.5px 0px 0px #666868;
}

/* Warning button box shadow */

.v-application .warning {
	box-shadow: 2px 2px 0px 0px rgb(0 0 0 / 30%), -0.5px -0.5px 0px 0px #ffb13d;
}

/* Button spacing all, x, y, z */

.row--dense {
	margin: -2px;
}

/* Toogle buttons feed amount, feedrate */

.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
	background: #303133;
}

/* Toggle button full border radius feed amount, feedrate */

.v-btn-toggle {
	border-radius: 8px;
}

/* Toggle button border width */

.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) .v-btn.v-btn {
	border: 2px solid #303132 !important;
}

/* Active single toggle button border radius feed amount, feedrate */

.v-btn-toggle>.v-btn.v-btn {
	border-radius: 8px;
}
