/* Hide klipper + moonraker in update manager when in operation mode */
#page-container > div > div > div.col-12.col-md-6.pt-0.pt-md-3.col > div:nth-child(2) > div.v-card.v-sheet.theme--dark.panel.machine-update-panel.mb-3.mb-md-6 > div > div > div > div:nth-child(1) { display: none !important; } 
#page-container > div > div > div.col-12.col-md-6.pt-0.pt-md-3.col > div:nth-child(2) > div.v-card.v-sheet.theme--dark.panel.machine-update-panel.mb-3.mb-md-6 > div > div > div > div:nth-child(3) { display: none !important; } 

/* Hide klipper + moonraker in update manager when in reset mode */
#page-container > div > div > div.col-12.col-md-6.pt-0.pt-md-3.col > div:nth-child(3) > div.v-card.v-sheet.theme--dark.panel.machine-update-panel.mb-3.mb-md-6 > div > div > div > div:nth-child(1) { display: none !important; }  
#page-container > div > div > div.col-12.col-md-6.pt-0.pt-md-3.col > div:nth-child(3) > div.v-card.v-sheet.theme--dark.panel.machine-update-panel.mb-3.mb-md-6 > div > div > div > div:nth-child(3) { display: none !important; }  

