[stepper_x]
position_max: 910
step_pulse_duration: 0.000006

[stepper_y]
step_pulse_duration: 0.000006
position_endstop: 910
position_max: 910

[stepper_y1]
step_pulse_duration: 0.000006
position_max: 910
