[stepper_x]
position_min: -55
position_endstop: -55
position_max: 892
step_pulse_duration: 0.000006
rotation_distance: 48

[stepper_y]
step_pulse_duration: 0.000006
position_endstop: 908
position_max: 908
rotation_distance: 48

[stepper_y1]
rotation_distance: 48

[stepper_z]
step_pulse_duration: 0.000006
position_max: 830